// 主题色
$primary:#409EFF;
$success:#67C23A;
$warning:#E6A23C;
$danger:#F56C6C;
$info:#909399;

// 文本颜色
$primary-text:#303133;
$regular-text:#606266;
$secondary-text:#909399;
$placeholder:#C0C4CC;

// 边框色
$border-base:#DCDFE6;
$border-light:#E4E7ED;
$border-lighter:#EBEEF5;
$border-extralight:#F2F6FC;

// 页面默认字体大小
$font-large-size:20px;
$font-normal-size:16px;
$font-small-size:12px